@using MiWebApp.ViewModels


@{
ViewData["Title"] = "Productos";
}

@model List<ProductoViewModel>
<section>

    <table class="table table-bordered table-hover">
    <thead>
    <caption> LISTA DE PRODUCTOS</caption>
               <tr> 
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Editar</th>
            <th>Borrar</th>
            <th>Detalle</th>
            </tr>
    </thead>

        <tbody>
     <a asp-controller="Productos" asp-action="Create" class="btn btn-primary">Crear Producto</a> 

          
          
            @foreach (ProductoViewModel producto in Model)
            {   <tr>
                    <td>@producto.Descripcion</td>
                    <td>@producto.Precio </td>
                    <td><a asp-controller="Productos" asp-action="Edit" asp-route-id="@producto.IdProducto" class="btn btn-primary">Editar</a> </td>
                    <td><a asp-controller="Productos" asp-action="Delete" asp-route-id="@producto.IdProducto" class="btn btn-primary">Borrar</a> </td>
                    <td><a asp-controller="Productos" asp-action="Details" asp-route-id="@producto.IdProducto" class="btn btn-primary">Detalle</a> </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<style>
  table caption {
    caption-side: top;     
    text-align: center;   
    font-weight: bold;     
    margin-bottom: 8px;    
  }
</style>
